.root{
    --text1color: #B4AD9E;
    --linkcolor: #7D7D7D;
    --linkhovercolor: #03A9F4;
    --photoblogtitlecolor: #626262;
    --photoblogtext2color: #626262;
    --photoblogbuttoncolor: #626262;
}
body{
    font-family: 'Playfair Display', serif;
}
.photoblog-text1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--text1color);
}
.header-link{
    font-weight: 400;
    font-size: 14px; 
    text-decoration: none;
    color: var(--linkcolor);
}
.header-link:hover{
    color: var(--linkhovercolor);
}
.photoblog-title{
    font-weight: 400;
    font-size: 30px;
    color: var(--photoblogtitlecolor);
}
.photoblog-text2{
    font-weight: 400;
    font-size: 14px;
    color: var(--photoblogtext2color);
}
.button{
    font-weight: 400;
    font-size: 14px;
    width: 165px;
    height: 60px;
    color: #626262;
    background-color: var(--photoblogbuttoncolor);
}
.container{
    width: 1206px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container1{
    width: 420px;
    height: 546px;
    padding: 0px 0px 0px 0px;
}
.container2{
    width: 420px;
    height: 546px;
    padding: 0px 0px 0px 0px;
}
.container3{
    width: 421px;
    height: 516px;
    padding: 0px 0px 0px 0px;
}
.container4{
    width: 420px;
    height: 516px;
    padding: 0px 0px 0px 0px;
}
.container5{
    width: 420px;
    height: 516px;
    padding: 0px 0px 0px 0px;
}
.container6{
    width: 420px;
    height: 516px;
    padding: 0px 0px 0px 0px;
}
.header-menu{
    display: flex;
    justify-content: space-around;
}
.photoblog{
    display: flex;
    flex-wrap: wrap;
    width: 906px;
    margin: 0 auto;
    justify-content: space-between;
}
header{
    margin-bottom: 50px;
}